//
// Global
// --------------------------------------------------

html,
body {
  overflow-x: hidden;

  @media (max-width: $screen-xs-max) {
    padding-right: 0;
  }
}

 #overlay {
        background: #ffffff;
        color: #666666;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 5000;
        top: 0;
        left: 0;
        float: left;
        text-align: center;
        padding-top: 25%;

        img {
          width: 20%;
          margin-top: -39px;
        }
    }

.brandLogo {
  background-image: url(../images/logo-white.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 0;
  text-indent: -100em;
  overflow: hidden;
}

.brandLogo--small {
  width: 5rem;
  height: 60px;
  
}

.brandLogo--black {
  background-image: url(../images/logo-black.png);
}

.textLogo {
  display: block;
  background-image: url(../images/logo-text-black.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 0;
  text-indent: -100em;
  overflow: hidden;
}

.textLogo--white {
  background-image: url(../images/logo-text-white.png);
}

.textLogo--sidebar {
  width: 100%;
  height: auto;
  background-size: contain;
  background-position: center;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.textLogo--frontpage {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
  margin: 0;
  width: 155px;
  height: 132px;
  background-size: 100%;
  background-position: 0;
  opacity: 0.9;

  @media (max-width: $screen-xs-max) {
    width: 120px;
    height: 91px;
    top: 13px;
  }
}

// Safari 7+ only hack that compiles

_::-webkit-full-page-media, _:future, :root .textLogo--frontpage { left:37%; }
